.form-control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.input-area {
  width: 100%;
}

.input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-box {
  position: relative;
  width: 100%;
}

.form-control label {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
}

.steps {
  align-self: flex-end;
  text-transform: capitalize;
  font-size: 12px;
  font-style: italic;
  font-weight: 400i;
  color: #005cff;
}

.form-control .input-like.checkbox label {
    display: inline;
    padding: 0;
    font-weight: normal;
    text-transform: none;
    margin: 0;
    justify-content: unset;
}

.hints {
  font-size: 12px;
  font-style: italic;
  padding: 20px;
  font-weight: 400i;
}

.form-control input[type="text"], .form-control input[type="email"], .input-like {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 25px 50px 0px rgba(160, 195, 215, 0.5);
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 20px;
  border-bottom: 4px solid #d6d8df;
  display: block;
}

.input-box:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  min-width: 50px;
  max-width: 70px;
  width: 100%;
  border-radius: 0 0 0 5px;
  background: #053eff;
  z-index: 1;
}

.input-box.input-like.checkbox:before {
  bottom: -4px;
}

.inline-button {
    position: absolute;
    right: 24px;
    bottom: 68px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

input:focus, .inline-button:focus {
  outline: none;
}

.inline-button img {
    max-width: 36px;
    height: auto;
}

.preview {
  background: #fff;
  padding: 10px;
  position: relative;
  padding-bottom: 60px;
}
.preview .inline-button {
  color: #fff;
  padding: 10px 30px 10px 25px;
  background-image: url('../img/btn-noise.png'), -moz-linear-gradient( 0deg, rgb(5,62,255) 0%, rgb(227,0,235) 100%);
  background-image: url('../img/btn-noise.png'), -webkit-linear-gradient( 0deg, rgb(5,62,255) 0%, rgb(227,0,235) 100%);
  background-image: url('../img/btn-noise.png'), -ms-linear-gradient( 0deg, rgb(5,62,255) 0%, rgb(227,0,235) 100%);
  background-color: blue;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview .inline-button img {
  margin-right: 10px;
  max-width: 20px;
}

.preview .inline-button.back {
  right: auto;
  left: 170px;
}

.preview .inline-button.next {
  right: auto;
  left: 10px;
}

.checkbox span {
  margin-bottom: 10px;
  display: block;
}

.checkbox span input{
  margin-right: 10px;
}

.hide {
  display: none;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
}
.data-list li {
  border-bottom: 1px solid #005cff;
  width: 100%;
  padding: 10px 0;
}

.data-list li span {
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .form-control {
    width: 90%;
  }
  .checkbox span {
    margin-right: 20px;
    display: inline;
    margin-bottom: 0;
  } 
}
