/***************************
 *  Gray Background
 ***************************/
.gray-bg {
  background-color: #f5f6fa;
}

/***************************
 * Home page header area
 ***************************/
.home-hero {
  background-image: url('./img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 30%;
  padding-top: 50px;
}

.home-hero h1 {
  margin: 10% 0 0;
}

.home-hero .sub-title {
  margin: 0 0 5%;
}
