/***************************
 *  Gray Background
 ***************************/
.gray-bg {
  background-color: #f5f6fa;
}

/***************************
 * Home page header area
 ***************************/
.home-hero {
  background-size: 30%;
  padding-top: 50px;
}

.home-hero img {
  max-width: 248px;
  width: 100%;
}

.home-hero h1 {
  margin: 10% 0 10%;
}

.home-hero .sub-title {
  margin: 0 0 10%;
}

.sp-area.section {
  padding-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .home-hero {
    background-image: url('./img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
  }
  .home-hero h1 {
    margin: 10% 0 0;
  }

  .home-hero .sub-title {
    margin: 0 0 5%;
  }
}
