* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3em;
  background-color: #1f37fd;
  background: -webkit-linear-gradient(0deg, rgb(5,62,255) 0%, rgb(227,0,235) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2, .sub-title {
  font-size: 1.4em;
}

.section  {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex: 0 1 1000px;
  position: relative;
}

.list-style-n {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .col-50x {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
  }

  .section-full-h {
    min-height: 95vh;
  }

  h1 {
    font-size: 5em;
  }

  .inline-button {
      bottom: 51px;
  }

}

@media screen and (min-height: 800px) {
  .section-full-h {
    max-height: 1000px;
    height: 100%;
  }
}